#carousel {
	position: absolute;
	width: 100%;
	max-width: 400px;
	max-height: 300px;
	margin: auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	border: 5px solid black;
	border-radius: 15px;
	box-shadow: 0px 0px 15px 3px grey;
	overflow: hidden;
}

#carousel ul {
	position: absolute;
	width: 2000px;
 	margin: 0;
 	padding: 0;
}

#carousel ul li {
	list-style-type: none;
	float: left;
	margin: 0;
	top: 0;
	right: 0;
  	bottom: 0;
  	left: 0;
}

#carousel ul li img {
	width: 400px;
	height: 300px;
}

.left-cursor {
	position: absolute;
	text-decoration: none;
	z-index: 1;
	color: black;
	font-size: 30px;
	font-weight: bold;
	left: 10px;
	top: calc(45%);
	background-color: rgba(255, 255, 255, 0.2);
	width: 25px;
}
.right-cursor {
	position: absolute;
	text-decoration: none;
	z-index: 1;
	color: black;
	font-size: 30px;
	font-weight: bold;
	left: calc(100% - 35px);
	top: calc(45%);
	background-color: rgba(255, 255, 255, 0.2);
	width: 25px;
}